<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework4_%EC%A1%B0%EC%98%88%EC%86%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#071

my_variable = ()
print(my_variable)

()

In [ ]:
#072

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
#073

Tu = (1,)
print(Tu)

(1,)

In [ ]:
#074

t = (1, 2, 3)
t[0] = 'a'

# 원인: 튜플은 immutable한 자료형이기 때문에 원솟값 수정이 불가능하다.

TypeError: ignored

In [ ]:
#075

t = 1,2,3,4,

# 답: 튜플 - 튜플은 괄호 생략이 가능하다.

In [ ]:
#076 ***

t = ('a', 'b', 'c')

# 튜플->리스트로 바꿔준 뒤, 수정해서 다시 리스트를 튜플로 바꿔주면 된다! 근데 왜 안되지..

list(t)
t[0] = 'A'
tuple(t)

TypeError: ignored

In [ ]:
#077

interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

#**튜플-리스트** 변환

**리스트->튜플:** tuple(list)

**튜플->리스트:** list(tuple)

In [ ]:
#078

interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
#079

# 답: apple banana cake

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

#**튜플 언팩킹**

튜플은 언팩킹해서 각 변수에 튜플 값들을 할당할 수 있다.

위 79번 문제의 경우
a = apple
b = banana
c = cake

1. 사용되지 않거나 필요없는 변수는 언더스코어(_) 표시를 한다.
ex) a, _, c = temp

2. 변수명 앞에 * 표시를 하면 여러 개의 값을 갖는 리스트가 된다.

In [ ]:
#080

a = range(2,99,2)
print(tuple(a))

# range함수를 어떤 자료형으로 표현할지 print 출력시 기입하자!

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

#**range 함수**

파이썬의 range함수는 특정 구간의 숫자의 범위를 만들어주는 함수.

a = range(A) : 0부터 A-1까지의 숫자 출력

a = range(A,B) : A부터 B-1까지의 숫자 출력

a = range(A,B,C) : A부터 C만큼의 간격으로 B-1까지의 숫자를 출력

In [ ]:
#081 ***

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,a,b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
#082 ***

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,b,*valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
#083

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,*valid_score,b =scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
#084

temp = {}

In [ ]:
#085

dic = {'메로나':1000,'폴라포':1200,'빵빠레':1800}
print(dic)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
#086

dic = {'메로나':1000,'폴라포':1200,'빵빠레':1800}
dic['죠스바'] = 1200
dic['월드콘'] = 1500
print(dic)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#087

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격:",ice['메로나'])

메로나 가격: 1000

In [ ]:
#088

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#089

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#090

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

# 딕셔너리에 '누가바'라는 key값이 없기 때문에.

1200