<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework5_%EC%A1%B0%EC%98%88%EC%86%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#001

a = "First Name: "

print("Hello "+"["+input(a)+"]")

First Name: Yesol
Hello [Yesol]

In [ ]:
#002

a = input("First name: ")
b = input("surname: ")

print("Hello "+"["+a+"]"+" ["+b+"]")

First name: Yesol
surname: Cho
Hello [Yesol] [Cho]

In [ ]:
#003

print("What do you call a bear with no teeth?");print("Agummy bear!")

What do you call a bear with no teeth?
Agummy bear!

In [ ]:
#004

a = input("number 1: ")
b = input("number 2: ")
c = int(a)+int(b)

print("The total is","[",c,"]")


# 왜 int를 쓸땐 +로 하면 안될까?
print("The total is","["+c+"]")

number 1: 6
number 2: 5
The total is [ 11 ]

TypeError: ignored

In [ ]:
#005

a = input("number 1: ")
b = input("number 2: ")
c = input("number 3: ")
d = (int(a)+int(b))*int(c)

print("The answer is "+"[",d,"]")

number 1: 6
number 2: 4
number 3: 10
The answer is [ 100 ]

In [ ]:
#006

a = input("How many slices of pizza did you have? ")
b = input("How many slices have you eaten? ")
leftpizza = int(a)-int(b)

print(leftpizza,"slices of pizza have left.")

#변수에는 띄어쓰기를 할 수 없다.

How many slices of pizza did you have? 8
How many slices have you eaten? 5
3 slices of pizza have left.

In [ ]:
#007

a = input("Name: ")
b = input("Age: ")
c = int(b)+1

print("[",a,"]","next birthday you will be", "[",c,"]")

Name: Yesol
Age: 24
[ Yesol ] next birthday you will be [ 25 ]

In [ ]:
#008

a = input("Total price of the bill : ")
b = input("How many diners there are? : ")
c = int(a)/int(b)

print("Each person must pay","[",c,"]","dollar.")

Total price of the bill : 20
How many diners there are? : 4
Each person must pay [ 5.0 ] dollar.

In [ ]:
#009

a = input("Days: ")
H = int(a)*24
M = int(a)*24*60
S = int(a)*24*60*60

print(a,"Days are",H,"hours,",M,"minutes and", S,"Seconds.")

Days: 2
2 Days are 48 hours, 2880 minutes and 172800 Seconds.

In [ ]:
#010

a = input("Weight(kg): ")
b = int(a)*2204

print("Your weight is","[",b,"]","pounds.")

Weight(kg): 46
Your weight is [ 101384 ] pounds.

In [ ]:
#011

a = input("Enter a number over 100 : ")
b = input("Enter a number under 10 : ")
c = int(a)/int(b)
d = int(a)//int(b)

print(a,"is",c,"times larger than",b,".")
#or
print(a,"is about",d,"times larger than",b,".")

Enter a number over 100 : 200
Enter a number under 10 : 6
200 is 33.333333333333336 times larger than 6 .
200 is about 33 times larger than 6 .