<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬에서의 2차원 배열

기본적으로 이중 리스트/딕셔너리의 형태다.

1. 리스트
    행: n번째 행은 리스트의 n번째 index

    열: n번째 열은 리스트의 리스트 내 리스트의 n번째 원소

2. 딕셔너리
    딕셔너리의 경우 행렬에 각 key값의 이름을 붙여야 한다.

    행: Key 값

    열: value값에 들어가는 딕셔너리 내의 n번째 원소

In [ ]:
# 096

simple_array = [[2,5,8], [3,7,4], [1,6,9], [4,2,0]]

print(simple_array)

[[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]

In [ ]:
# 097

simple_array = [[2,5,8], [3,7,4], [1,6,9], [4,2,0]]

row = int(input("Select row: "))
column = int(input("Select column: "))

print(simple_array[row][column])

4

In [ ]:
# 098

simple_array = [[2,5,8], [3,7,4], [1,6,9], [4,2,0]]

user = int(input("Which row would like displayed? "))

print(simple_array[user])

user2 = int(input("Enter a new value: "))

simple_array[user].append(user2)
print(simple_array[user])

[2, 5, 8]
[2, 5, 8, 9]

In [ ]:
# 099

simple_array = [[2,5,8], [3,7,4], [1,6,9], [4,2,0]]

user = int(input("Which row would like displayed? "))
print(simple_array[user])

user2 = int(input("Which column in that row would like displayed? "))
print(simple_array[user][user2])

user3 = input("Do you want to change the value? (y/n)")

if user3 == "y":
    user4 = int(input("Enter a new value: "))
    simple_array[user][user2] = user4
    print(simple_array[user])

[4, 2, 0]
4
[1, 2, 0]

In [ ]:
# 100

simple_array = {"John":{"N":3056, "S":8463, "E":8441, "W":2694},
                "Tom":{"N":4832, "S":6786, "E":4737, "W":3612},
                "Anne":{"N":5239, "S":4802, "E":5820, "W":1859},
                "Fiona":{"N":3904, "S":3645, "E":8821, "W":2451}}

print(simple_array)

{'John': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694}, 'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612}, 'Anne': {'N': 5239, 'S': 4802, 'E': 5820, 'W': 1859}, 'Fiona': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}

In [ ]:
# 101

simple_array = {"John":{"N":3056, "S":8463, "E":8441, "W":2694},
                "Tom":{"N":4832, "S":6786, "E":4737, "W":3612},
                "Anne":{"N":5239, "S":4802, "E":5820, "W":1859},
                "Fiona":{"N":3904, "S":3645, "E":8821, "W":2451}}

print(simple_array)

name = input("Enter a name of data you want to change: ")
region = input("Enter a region of data you want to change: ")
new = int(input("Enter the alternation to the sales figure: "))

simple_array[name][region] = new

print(simple_array[name])

{'John': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694}, 'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612}, 'Anne': {'N': 5239, 'S': 4802, 'E': 5820, 'W': 1859}, 'Fiona': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}
{'N': 3333, 'S': 3645, 'E': 8821, 'W': 2451}

In [ ]:
# 102

dic = {}

for i in range(4):
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    size = int(input("Enter you shoe size: "))
    dic[name] = {"age":age, "size":size}

name = input("Enter the name of one of the people in the list: ")

print(dic[name])

{'age': 25, 'size': 280}

In [4]:
# 103

dic = {}

for i in range(4):
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    size = int(input("Enter you shoe size: "))
    dic[name] = {"age":age, "size":size}

for name in dic:   # dictionary로 for문을 설정하면 key값이 변수로 나간다
    print(name,dic[name]["age"])   # 딕셔너리가 아닌 값만 출력

Enter your name: 1
Enter your age: 1
Enter you shoe size: 1
Enter your name: 2
Enter your age: 2
Enter you shoe size: 2
Enter your name: 3
Enter your age: 3
Enter you shoe size: 3
Enter your name: 4
Enter your age: 4
Enter you shoe size: 4
1 1
2 2
3 3
4 4

In [5]:
# 104

dic = {"Ven":{"age":25, "size":285}, "Amy":{"age":25, "size":245}, "Andrew":{"age":17, "size":275}, "Emily":{"age":16, "size":250}}

name = input("Enter the name you want to remove from the list: ")

del dic[name]

for i in dic:
    print(i, dic[i]["age"], dic[i]["size"])

Enter the name you want to remove from the list: Amy
Ven 25 285
Andrew 17 275
Emily 16 250