<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework2_%EC%A1%B0%EC%98%88%EC%86%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#021

letters = "python"

print(letters[0],letters[2])

p t

(+) **TC**

인덱싱: 문자열에서 한 글자를 가져오는 것

In [ ]:
#022

license_plate = "24가 2210"

print(license_plate[4:])

# [a:b]에서 b는 '미만'임을 기억하자!


# 이렇게도 할 수 있다. 뒷 글자를 남길땐 음수를 사용하는 게 편한듯!
print(license_plate[-4:])

2210
2210

**(+) TC**

슬라이싱: 문자열에서 여러 글자를 가져오는 것.

In [ ]:
#023

string = "홀짝홀짝홀짝"

print(string[0]+string[2]+string[4])


# [:] 처음부터 끝까지
# [start : end : step] step만큼 문자를 건너뛰면서, 위와 동일하게 추출

print(string[::2])

홀홀홀
홀홀홀

In [ ]:
#024

string = "PYTHON"

print(string[5]+string[4]+string[3]+string[2]+string[1]+string[0])


#뒤에서부터는 음수를 쓰자!

print(string[::-1])
# 처음부터 끝까지 전부 출력하는데 -1번마다 반복해라

NOHTYP
NOHTYP

In [ ]:
#025

phone_number = "010-1111-2222"

print(phone_number[0:3],phone_number[4:8],phone_number[9:])


#replace 매소드 이용하기
print(phone_number.replace("-"," "))

010 1111 2222
010 1111 2222

In [ ]:
#026

phone_number = "010-1111-2222"

print(phone_number[0:3]+phone_number[4:8]+phone_number[9:])


#replace 매소드 사용하기

phone_number1 = phone_number.replace("-","")
print(phone_number1)

01011112222
01011112222

In [ ]:
#027

url = "http://sharebook.kr"

# 하나하나 세고 있지 말고 len을 사용하자!
# len가 알려주는 건 순서가 아니라 '갯수'
print(len(url))

print(url[17:])
#or
print(url[-2:])


#split 사용하기

url_split = url.split(".")
#제발 요솟값 넣을때 ""좀 빼먹지 마

print(url_split[-1])

19
kr
kr
kr

#**문자열 나누기 Split**

split함수는 괄호 안의 값을 기준으로 문자열을 나눠 리스트에 넣어준다.

괄호를 빈칸으로 두면 공백을 기준으로 문자열을 나눠준다.

In [ ]:
#028

# 답: 문자열의 요솟값은 immutable하다. 따라서 오류가 뜬다.

In [ ]:
#029

string = 'abcdfe2a354a32a'

string.replace('a','A')

# 문자열은 '' 잊지말기...

'Abcdfe2A354A32A'

#**replace 메소드**

문자열을 치환하는 함수. 문자열 안의 특정한 요솟값을 변경시킬 수 있다.

replace(old,new,[count])
- old: 바꾸고 싶은 문자
- new: 바꿀 문자
- count: 바꿀 횟수. 입력하지 않으면 문자열 전체를 바꾼다.

**주의)** 문자열은 immutable하기 때문에, replace 함수를 사용해 치환한 문자열은 '원본과는 다른 새로운 문자열 객체'를 리턴해준 것이다.

In [ ]:
#030

# 답: abcd

string = 'abcd'
string.replace('b', 'B')
print(string)

# 문자열은 immutable하기 때문에, replace 함수를 사용해 치환한 문자열은 '원본과는 다른 새로운 문자열 객체'를 리턴해준 것이다.

abcd

In [ ]:
#031

답: 34

a = "3"
b = "4"
print(a + b)

34

In [ ]:
#032

# 답: HiHiHi

print("Hi" * 3)

HiHiHi

In [ ]:
#033

print("-"*80)

--------------------------------------------------------------------------------

In [ ]:
#034

t1 = 'python'
t2 = 'java'
t3 = t1+' '+t2+' '

print(t3*4)

#새 변수를 설정하는 걸 두려워하지 말자!

python java python java python java python java

In [ ]:
#035

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d이름: %s 나이: %d" %(name1,age1,name2,age2))

#print로 출력을 안하면 ''가 붙는구나...

이름: 김민수 나이: 10이름: 이철희 나이: 13

#**문자열 포매팅(% formatting)**
문자열 안의 특정한 값을 바꿀 수 있게 해주는 것.문자열 안에 어떤 값을 삽입하는 방법.

문자열 안에서 어떤 값을 넣고 싶은 자리에 **문자열 포맷 코드**를 삽입하고, 삽입할 값은 가장 뒤에 있는 %문자 다음에 써 넣는다.

ex) "I eat %d apples." %3

**문자열 포맷 코드** 
- %s : 문자열(string)
- %d : 정수(integer)
- %c : 문자 1개(Character)
- %% : %

**%s** 코드는 어떤 형태의 값이든 변환해 넣을 수 있다.

**2개 이상의 값 넣기**
: 마지막 % 다음 괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어주면 된다.

In [ ]:
#036

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {0} 나이:{1}이름: {2} 나이: {3}".format(name1,age1,name2,age2))


# {}안에 아무것도 안 넣어도 작동한다!

print("이름: {} 나이:{}이름: {} 나이: {}".format(name1,age1,name2,age2))

이름: 김민수 나이:10이름: 이철희 나이: 13
이름: 김민수 나이:10이름: 이철희 나이: 13

#**format 함수를 이용한 포매팅**

**format 함수**를 이용하면 좀 더 발전된 스타일로 문자열 포맷을 지정가능하다.

ex) "I eate {0} apples".format(3)


**2개 이상의 값 넣기**
: {0}, {1}과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀐다.

In [ ]:
#037

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10이름: 이철희 나이: 13

#**f string 포매팅**

문자열 앞에 f 접두사를 붙여 사용한다.변수 값을 생성한 후에 그 값을 참조할 수 있다. 

또한 표현식(문자열 안에서 +,-와 같은 수식을 함께 사용하는 것)을 지원한다.

ex) 
name = '홍길동'
age = '30'
f'나의 이름은 {name}입니다. 나이는{age}입니다.'

In [ ]:
#038

상장주식수 = "5,969,782,550"


#replace로 콤마 제거하기

콤마없음 = 상장주식수.replace(",", "")

print(int(콤마없음))

5969782550

In [ ]:
#039

분기 = "2020/03(E) (IFRS연결)"

print(분기[0:7])

2020/03

In [ ]:
#040

data = "   삼성전자    "

data1 = data.strip()

print(data1)


# 함수를 실행한 뒤 꼭 print 형식으로 출력하자.
# 함수를 실행했다 해서 기존 문자열이 수정되는 게 아니다. 새로운 문자열이 만들어지는 거란걸 명심하고 변수 설정을 꼭 하자!

삼성전자

#**strip 함수**

문자열의 한 칸 이상의 연속된 공백을 모두 제거해주는 함수.

- 오른쪽 공백 : rstrip
- 왼쪽 공백 : lstrip
- 좌우 공백 :strip