<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 171

price_list = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(price_list[i])

32100
32150
32000
32500

In [ ]:
# 171 - 2

# len()함수를 이용하면 price_list가 변해도 코드 수정이 필요없다.
# 따라서 len()함수를 이용하는 게 더 좋은 코드이다.

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
  print(price_list[i])

32100
32150
32000
32500

In [ ]:
# 172

price_list = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

# enumberate()

j나 k같은 인덱스 변수 없이도 for 루프를 돌릴 수 있게 해주는 함수. 인덱스와 원소로 이루어진 튜플을 만들어준다.

형태:

    for i **in enumerate()**:

인덱스와 원소를 각각 다른 변수에 할당하고 싶다면 unpacking을 해줘야 한다. 

    for **i, letter** in enumerate():
        print(i, letter)


인덱스를 원하는 숫자로 시작하는 방법: start인자에 시작하고 싶은 숫자를 넘긴다.

    for **i, letter** in enumerate( , start = n):

In [ ]:
# 172 - 2

price_list = [32100, 32150, 32000, 32500]

for i, num in enumerate(price_list):
  print(i, num)

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173

price_list = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 173 - 2

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
  print((len(price_list)-1)-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174

price_list = [32100, 32150, 32000, 32500]

for i in range(1,4):
    print(100+10*(i-1), price_list[i])   # print(90+10*i,price_list[i])

100 32150
110 32000
120 32500

In [ ]:
# 175

my_list = ["가", "나", "다", "라"]

for i in range(0,3):  # for i in range(len(my_list)):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [ ]:
# 176

my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])


# for i in range( 1, len(my_list) - 1 ):
#   print(my_list[i-1], my_list[i], my_list[i+1])


# for i in range( 2, len(my_list) ):
#   print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

In [ ]:
# 177

my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1):
    print(my_list[3-i],my_list[2-i])   # print(my_list[len(my_list)-1-i], my_list[len(my_list)-2-i])

라 다
다 나
나 가

In [ ]:
# 178

my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [ ]:
# 179

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print(sum(my_list[i:i+3])/3)   #sum()함수를 리스트 슬라이싱에도 사용 가능하네 우와!

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 180

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(len(low_prices)):
    vol = high_prices[i]-low_prices[i]
    volatility.append(vol)

print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
# 181

apart = [["101호","102호"],["201호","202호"],["301호","302호"]]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [ ]:
# 182

stock = [["시가",100,200,300],["종가",80,210,330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [ ]:
# 183

stock = {"시가":[100,200,300],"종가":[80,210,330]}

print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
# 184

stock = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}

print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [ ]:
# 185

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
    for j in range(2):
        print(apart[i][j],"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 185 -2

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
  for room in floor:
    print(room, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 186

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
    for j in range(2):
        print(apart[2-i][j],"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 186 - 2

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart[::-1]:
  for room in floor:
    print(room, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 187

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
    for j in range(2):
        print(apart[2-i][1-j],"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 187 - 2

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart[::-1]:
  for room in floor[::-1]:
    print(room,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
    for j in range(2):
            print(apart[i][j],"호");print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
# 188 - 2

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
  for room in floor:
    print(room,"호")
    print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
# 189

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
    for j in range(2):
            print(apart[i][j],"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
# 189 - 2

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
  for room in floor:
    print(room, "호")
  print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
# 190

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
    for j in range(2):
            print(apart[i][j],"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [ ]:
# 190 - 2

apart = [ [101, 102], [201, 202], [301, 302] ]


for floor in apart:
  for room in floor:
    print(room, "호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----