<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework9_%EC%A1%B0%EC%98%88%EC%86%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#151

리스트 = [3, -20, -3, 44]

for i in 리스트[1:3]:
  if i < 0:
    print(i)

-20
-3

In [ ]:
#152

리스트 = [3, 100, 23, 44]

for i in 리스트:
  if i%3 == 0:
    print(i)

3

In [ ]:
#153

리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
  if i < 20 and i%3 ==0:
    print(i)

12
18

In [ ]:
#154

리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
  if len(i) >= 3:
    print(i)

study
python
language

In [ ]:
#155

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
  if i.islower(): continue   # if i.slower() == False:   # if i.slower() != True:   # if not i.slower():
  else:
    print(i)

A
D

# isupper() 함수

islower()와 반대로 대문자 여부를 판별한다.

In [ ]:
#155 -2

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
  if i.isupper():
    print(i)

A
D

In [ ]:
#156

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
  if i.islower():
    print(i)

b
c

In [ ]:
#157

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
  print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [ ]:
#158

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
  a = i.split(".")  # split해도 원본은 그대로고 새로운 객체가 탄생하니까 그 객체를 변수로 지정해줘야 한다.
  print(a[0])

hello
ex01
intro

In [ ]:
#159

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
  a = i.split(".")
  if a[1] == "h":
    print(i)

intra.h
define.h

In [ ]:
#160

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
  a = i.split(".")
  if a[1] == "h" or a[1] == "c":
    print(i)

intra.h
intra.c
define.h

In [ ]:
#161

for i in range(0,100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
#162

for i in range(2002,2051,4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
#163

for i in range(1,31):
  if i%3 == 0:
    print(i)


#163 -2

for i in range(1,31,3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#164

for i in range(100,-1,-1):   # range() 함수는 역순 출력도 가능하다! (시작숫자,끝 숫자,음수)
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [2]:
#164-2

for i in range(100):
  print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#165

for i in range(0,10):
  print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
#166

for i in range(1,10):
  print("3x{} = {}".format(i,3*i))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [ ]:
#167

for i in range(1,10,2):
  print("3x{} = {}".format(i,3*i))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [ ]:
#168

sum = 0

for i in range(1,11):
  sum = sum + i
print("합:",sum)   #들여쓰기 주의!

합: 55

In [ ]:
#169

sum = 0

for i in range(1,11,2):
  sum = sum + i
print("합: ",sum)

합:  25

In [ ]:
#170

mul = 1

for i in range(1,11):
  mul = mul*i
print("곱:",mul)

곱: 3628800