<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework8_%EC%A1%B0%EC%98%88%EC%86%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#131

#답: 사과 
귤 
수박

In [6]:
#132

#답: #####
#####
#####

과일 = ["사과", "귤", "수박"]

for 변수 in 과일:
  print("#####")

#####
#####
#####

# for문의 핵심

 들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다.

In [7]:
#133

list = ["A", "B", "C"]

print(list[0]) ; print(list[1]) ; print(list[2])


# 기왕이면 해당 for문이 어떤 순서로 코드를 실행하는지를 떠올리고 만들어보자.

변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C
A
B
C

In [8]:
#134

list = ["A", "B", "C"]

print("출력:",list[0]) ; print("출력:",list[1]) ; print("출력:",list[2])


# 134 - 2

변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [9]:
#135

list = ["A", "B", "C"]

print("변환:",list[0].lower()) ; print("변환:",list[1].lower()) ; print("변환:",list[2].lower())


# 135 - 2

변수 = "A"
b = 변수.lower()
print("변환:", b)

변수 = "B"
b = 변수.lower()
print("변환:", b)

변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [ ]:
#136

for 변수 in [10,20,30]:
  print(변수)

10
20
30

In [ ]:
#137

for i in [10,20,30]:
  print(i)

10
20
30

In [ ]:
#138
for i in [10,20,30]:
  print(i)
  print("-------")

10
-------
20
-------
30
-------

In [ ]:
#139

for i in ["++++",10,20,30]:
  print(i)

# for문은 반복되는 코드에만 사용한다?

print("++++")   # 이거 왜지...
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [ ]:
#140

for i in [1,2,3,4]:
  print("-------")

-------
-------
-------
-------

In [ ]:
#141

리스트 = [100, 200, 300]

for i in 리스트:
  print(i+10)

110
210
310

In [ ]:
#142

리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
  print("오늘의 메뉴:",i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
#143

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
  print(len(i))

6
4
4

In [ ]:
#144

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
  print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
#145

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
  print(i[0])

d
c
p

In [ ]:
#146

리스트 = [1, 2, 3]

for i in 리스트:
  print("3 x",i)

3 x 1
3 x 2
3 x 3

In [ ]:
#147

리스트 = [1, 2, 3]

for i in 리스트:
  print("3 x",i,"=",i*3)


# 문자열 포매팅 사용하기

print("3 x {} = {}".format(변수,변수*3))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
#148

리스트 = ["가", "나", "다", "라"]

for i in 리스트:
  if i == "가": continue
  print(i)


# for문 자료구조 자리에서 슬라이싱을 할 수 있다!

for i in 리스트[1:]:

나
다
라

In [ ]:
#149

리스트 = ["가", "나", "다", "라"]

for i in 리스트:
  if i == "나" or i == "라": continue
  print(i)


# 149 -2

for i in 리스트[::2]:

가
다

In [ ]:
#150

리스트 = ["가", "나", "다", "라"]

리스트.reverse()  

for i in 리스트:
  print(i)


# 슬라이싱의 증감폭(3번째 자리)를 음수로 설정하면 거꾸로 값을 출력한다!!!

for i in 리스트[::-1]:

라
다
나
가