<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework3_%EC%A1%B0%EC%98%88%EC%86%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#051

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
#052

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#053

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
#054

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)


# del사용해 없익
del movie_rank[3]
print(moive_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
#055

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

#del 
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

#리스트에서 어떤 값을 삭제하면 남은 값들은 새로 인덱싱됩니다. 
#따라서 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 남은 원소들에 대해서 순서를 새로 고려한 후 삭제해야 합니다.

['닥터 스트레인지', '슈퍼맨']

In [ ]:
#056

lang1 = ["c", "c++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
print(langs)

['c', 'c++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
#057

nums = [1,2,3,4,5,6,7]
print("최솟값:", min(nums)); print("최대값:", max(nums))

최솟값: 1
최대값: 7

#**최솟값, 최대값 함수**

최솟값: min()

최대값: max()

In [ ]:
#058

nums = [1,2,3,4,5]
print(nums[0]+nums[1]+nums[2]+nums[3]+nums[4])


#sum
print(sum(nums))

15
15

#**sum**

리스트 안 원소들의 합을 구하는 함수

In [ ]:
#059

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

#len과 count를 헷갈리지 말자!

12

In [ ]:
#060

nums = [1,2,3,4,5]
print((nums[0]+nums[1]+nums[2]+nums[3]+nums[4])/5)


#sum
print(sum(nums)/len(nums))

3.0
3.0

In [ ]:
#061

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
#062

nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
#063

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
#064

nums = [1,2,3,4,5]
nums.reverse()
print(nums)


#슬라이싱 : -1번째를 반복해라.
print(nums[::-1])

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [ ]:
#065

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [ ]:
#066

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

#**join 함수**

>>",".join('abcd')

뜻 : abcd 사이에 콤마(,)를 삽입한다.

리스트에서도 사용 가능하다. 출력은 리스트로 나오지 않는다.

>>",".join(['a','b','c','d'])

'a,b,c,d'

In [ ]:
#067

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
#068

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
#069

string = "삼성전자/LG전자/Naver"
string_split = string.split("/")
print(string_split)

# split: 문자열을 일정 기준으로 나눠주는 함수. 나눈 값은 리스트에 하나씩 들어간다!

['삼성전자', 'LG전자', 'Naver']

In [ ]:
#070

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]