<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework6_%EC%A1%B0%EC%98%88%EC%86%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#091

inventory = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250,100]}

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
#092

inventory = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250,100]}

print(inventory['메로나'][0],"원")
# 찾고자 하는 value값의 키 값을 넣어라.

300 원

In [ ]:
#093

inventory = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250,100]}

print(inventory['메로나'][1],"개")

20 개

In [ ]:
#094

inventory = {'메로나':[300,20], '비비빅':[400,3], '죠스바':[250,100]}

inventory['월드콘'] = [500,70]

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 70]}

In [ ]:
#095

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = icecream.keys()

print(list(ice))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

# 딕셔너리 Keys() 함수

**a.keys()**는 딕셔너리 a의 Key만을 모아서 key로만 구성된 dict_keys([  ]) 객체를 돌려준다.

리스트처럼 생긴 것 같지만 리스트가 아니다.

In [ ]:
#096

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

# 딕셔너리 Values() 함수

**a.values()**는 딕셔너리 a의 value만을 모아서 value로만 구성된 dict_values([  ]) 객체를 돌려준다.

In [ ]:
#097

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

sum(icecream.values())

6700

In [ ]:
#098 

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)

print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

# 딕셔너리 update 함수

기존 딕셔너리의 데이터를 수정하거나 추가할 때 쓰는 함수.

a.update({  })

In [ ]:
#099

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys,vals))

print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

# zip() 함수

zip은 1, 2번째 모두 길이가 같은 객체를 받아 각각의 요소를 차례로 짝지어주는 역할을 한다. 

zip(객체a,객체b)

In [ ]:
#100

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))

print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [ ]:
#101

#답: 불(bool) 자료형

#불 bool 자료형

True와 False를 나타내는 자료형으로, 오직 True와 False 두 값만 가질 수 있다. 조건문의 반환값으로도 사용이 된다.


자료형이 거짓인 경우
- **"", (), {}, []** : 비어있는 문자열, 튜플, 딕셔너리, 리스트는 False

- **0** : 숫자형의 0은 False

- **None** : False

In [ ]:
#102

#답: False

print(3 == 5)

False

In [ ]:
#103

#답: True

print(3 < 5)

True

In [ ]:
#104

#답: True

x = 4
print(1 < x < 5)

True

In [ ]:
#105

#답: True

print ((3 == 3)and (4 != 3))

True

In [ ]:
#106

#답: '크거나 같다' 혹은 '작거나 같다'를 표시할 때는 부등호가 먼저 온 뒤 등호가 다음에 와야한다.

print(3 >= 4)

False

In [ ]:
#107

#답: 정답확인 조건을 완료하지 못했기 때문에 아무것도 출력되지 않는다.

if 4 < 3:
    print("Hello World")

In [ ]:
#108

#답: Hi, there.

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
#109 

#답: 1
2
4

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [1]:
#110 

#답: 3
5

if True :
  if False:
        print("1")
        print("2")
  else:
        print("3")
else :
    print("4")
print("5")

3
5