<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Homework1_%EC%A1%B0%EC%98%88%EC%86%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#001

print("Hello World")

Hello World

In [ ]:
#002

print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
#003

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
#004

print('"C:＼Windows"')

"C:＼Windows"

In [ ]:
#005

print("안녕하세요.\n만나서\t\t반갑습니다.")

# 이스케이프 코드 \t : 탭 간격
# 이스케이프 코드 \n : 줄바꿈

안녕하세요.
만나서		반갑습니다.

In [ ]:
#006

# 답: 오늘은 일요일

# 쉼표는 출력되지 않는다.

In [ ]:
#007

print("naver;kakao;sk;samsung")

#세미콜론(;) : 한줄에 여러 개의 명령을 작성하기 위해 사용함.

naver;kakao;sk;samsung

In [ ]:
#008

print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [ ]:
#009

#원래 코드 : 세미콜론 사용해 실행하면 줄바꿈되어 출력
# print("first");print("second")

#수정 코드
print("first", end="");print("second")

firstsecond

#**end=""**

**end=""**는 print 출력을 완료한 뒤의 내용을 수정할 수 있게 해준다.

print문은 \n이 기본으로 들어가있는데,end=""을 사용해서 \n을 없애주거나 내용을 추가하는데 쓰인다.

In [ ]:
#010

print(5/3)

1.6666666666666667

In [ ]:
#011

삼성전자 = 50000

print(삼성전자*10)

print("총 평가금액은 ",삼성전자*10,"원 입니다. ")

500000
총 평가금액은  500000 원 입니다.

In [ ]:
#012

시가총액 = 2980000000000
현재가 = 50000
PER = 15.79

In [ ]:
#013

s = "hello"
t = "python"

print(s+"!",t)

# 문자열 출력시 "" 잊지말기!!!

hello! python

**선생님 코멘트**

print 함수에서 어떤 값들을 이을 때 사용할 수 있는 대표적인 방법은 콤마(,)를 사용하는 것과 덧셈(+)을 사용하는 방법이 있습니다.

- 콤마(,)를 사용해서 값들을 이어서 출력하면 공백이 추가되는 반면, 덧셈(+)을 사용하면 공백이 추가되지 않습니다.

- 콤마(,)는 모든 자료형의 값을 연결할 수 있는 반면, 덧셈(+)은 문자열들만을 연결할 수 있습니다.

In [ ]:
#014

# 답: 8

print(2+2*3)

8

In [ ]:
#015

# int = 정수형

a = "132"
print(type(a))

# float = 실수형
# str = 문자열

<class 'str'>

In [ ]:
#016

num_str = "720"

print(int(num_str))
#or
print(int("720"))

#형변환
# int로 : print(int(변환할 자료형))
# float로 : print(float(변환할 자료형))
# str로 : print(str(변환할 자료형))

720
720

In [ ]:
#017

num = 100

print(str(num))

100

In [ ]:
#018

print(float("15.79"))

15.79

In [ ]:
#019

year = "2020"

print(int(year))

print(int(year)+1)
print(int(year)+2)


#다른 방법

year = "2020"
n = int(year)
print(n, n+1, n+2)

2020
2021
2022
2020 2021 2022

In [ ]:
#020

a = 48584

print("총 금액은 ",a*36,"원 입니다. ")

총 금액은  1749024 원 입니다.