<a href="https://colab.research.google.com/github/yesolcho/Python-class/blob/main/Python_Day_1_%EC%A1%B0%EC%98%88%EC%86%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!!!")

Hello World!!!

실행이 안되는 메모용
숙제는 코랩으로 제출


---
#**파이썬**이란,
귀도 반 로썸이 90년에 개발한 인터프리터 언어


컴퓨터 언어
- 인터프리터: 한줄한줄 코드를 해석해서 실행, 결과를 바로 확인 가능 ex) 파이썬,R
- 컴파일러: 덩어리로 한번에 실행 ex) 자바,C
  *자바로 인공지능은 비추 


기능
- 교육용
- 업무용


특징
- 문법이 쉽다
- 빠르게 배울 수 있다
- 무료지만 강력
- 즐거운 프로그래밍 가능^ㅁ^
 *JS 백앤드
 *파이썬 마스터 후 Java


파이썬의 장점
- **인공지능**
- **빅데이터**
- GUI(그래픽유저인터페이스) 애플리케이션
 *막주에 인공지능-머신러닝 구경 시켜주심!
  *GUI 해보는것두 재미있다
- C, C++ 라이브러리 결합이 원활
  *RUST: C를 대체할 언어로 급부상
- 웹 프로그래밍 (**Flast, Django**) 
 *장고가 사업용
- 데이터베이스 활용


파이썬의 약점
- 시스템과 밀접한 프로그래밍
  *하드웨어(embedded)에 강력한 언어는 자바
- 모바일 프로그래밍 (앱개발)


IDE 개발도구: 언어마다 그 언어의 개발도구가 있다
- Colab 
- Anaconda 
- **VS Code**: 하나로 모든 언어를 다 다룰 수 있기 때문에 사용 방법이 동일, 다른 언어에 쉽게 접근할 수 있음
- PyCharm: 가장 많이 쓰고 유명, 젤좋음 유료

#**변수**

숫자, 문자 등 데이터를 다룰 때 컴퓨터에선 변수(variable)을 사용하게된다.
아래 예시의 변수(a, b)에 데이터(1, Python)을 담음.
변수에 나중에 담은 것이 출력됨.

In [ ]:
a=1
a=2
b="Python"
b="Java"

print(a)
print(b)

2
Java

#**자료형**

자료형이란, 프로그래밍에서 자료 형태로 문자, 숫자 등을 사용하는 것. 프로그래밍의 핵심이자 기본. 자료형을 충분히 이해해야만 프로그래밍을 잘 할 수 있다. 

#1. **숫자형**
숫자 형태(ex. 정수, 실수)로 이루어진 자료형

정수 1, 2
실수 2.14, 3.84

In [ ]:
a=3
b=5

print(a+b)  # 옆에 붙일 수도 있다
# print( )는 생략 가능하지만 안되는 곳도 있음. 

print(a-b)
print(a*b)
print(a/b)

8
-2
15
0.6

In [ ]:
# 나머지 연산자 % : 나머지를 구한다.
# 나머지 연산자를 통해 짝수, 홀수, 배수를 알아낼 수 있다. 무진장 많이 씀!

a=7
b=3

print(a%b)
print(a%2)
print(8%2)  # 어떤 수를 2로 나눈 나머지가 1이면 홀수, 0이면 짝수
print(8%4)  # A를 B로 나눈 나머지가 0이면, A는 항상 B의 배수이다.

1
1
0
0

In [ ]:
# 몫: //

print(9//2)

4

#2. **문자열 자료형**
문자, 단어, 문장 등으로 구성된 글자들의 집합

In [ ]:
a = "b"
b = "Hello"
c = "awesome class"
d = "123" # " "안에 있으면 컴퓨터는 '문자'로 인식한다!

print(a)
print(b)
print(c)
print(d)

# 자바 등의 언어에서는 변수의 '형'도 지정을 해줘야 한다. (대형 프로젝트에 유용)
# char a = "b";
# String b = "Hello";
# int c = 5;

b
Hello
awesome class
123

In [ ]:
# 파이썬에서 문자열은 기본적으로 " ", ' '을 동일하게 취급한다.

a = "Hello"
b = 'Hello'

print(a)
print(b)


# 하지만, 아래의 경우 약간 다르게 처리된다.

a = 'Hello "Ven"'  # 출력값에 " "까지 넣고 싶을 때 작은따옴표를 쓴다!
print(a)

b = "Hello 'Amy'"  # ' '를 넣고 싶을 때는 큰따옴표!
print(b)


# doc string: 컴퓨터도 읽지만 영향을 미치진 않는 주석
# " " "   " " "
# ' ' '   ' ' ' 


# 백슬래시(\)를 넣으면 뒤의 것이 기능이 무시되고 글자로만 취급된다.
a = "Hello \"World\""
print(a)

b="Hello \"Ven\""
print(b)

#백슬래시(\)를 사용하는 것을 '이스케이프 코드'를 사용한다고 표현한다.
# \'
# \"
# \n 강제 줄바꿈
# \t 탭 간격

a="hello\nWorld"
print(a)

b= "Hello\tVen"
print(b)

c= "Hello \t\"Ven\""
print(c)

Hello
Hello
Hello "Ven"
Hello 'Amy'
Hello "World"
Hello "Ven"
hello
World
Hello	Ven
Hello 	"Ven"

#**파이썬에서 아주 중요한 자료형 4가지** 
  *면접 단골 질문, List가 가장 중요함!
- List
- Tuple
- Dict
- Set


**List  [   ]**
- mutable 수정 가능
- indexing, slicing 가능
- 파이썬에서 가장 많이 사용됨


**Tuple  (   )**
- immutable 수정 불가능
- indexing, slicing 가능
- 요소를 하나만 저장할때도 쉼표를 붙임


**Dic   {   }**
- mutable 수정 가능
- indexing, slicing 불가능
- 키값-밸류값 쌍으로 구성됨: Set과의 구분 방법


**Set   {   }**
- mutable 수정 가능
- indexing, slicing 불가능
- 중복 값을 허용하지 않음

#1.   List  [   ]
특징
- mutable 수정 가능
- indexing, slicing 가능
- 파이썬에서 가장 많이 사용됨

In [ ]:
# 리스트 작성(1차원)
# 1개의 변수에 n개의 데이터를 담음

emp2 = [ ] # 빈 리스트
odd3 = [1,3,5,7,9]
str4 = ["하나","둘","셋"]
mix4 = [1,2,"삼"]  # 파이썬은 문자형, 숫자형 섞어서 쓰기가 가능

print(emp2)
print(odd3)
print(str4)
print(mix4)

[]
[1, 3, 5, 7, 9]
['하나', '둘', '셋']
[1, 2, '삼']

In [ ]:
# List에서의 indexing(추출)

aList = [10,20,30,40,50]

print(aList[1]) # 파이썬에서의 indexing은 시작이 '0'부터. 따라서,

print(aList[0])

print(aList[0] + aList[1])

print((aList[0]+aList[1]+aList[2]+aList[3]+aList[4])/5)

20
10
30
30.0

In [ ]:
# List에서의 slicing: 하나씩 추출하는 인덱싱과는 달리 여러개를 추출한다.

bList = "12345"

bList[0:2] # 0부터 2'미만'
bList[:3] # 시작 생략: 처음부터 3미만까지
bList [0:] # 마지막 생략: 마지막까지

'12345'

In [ ]:
# 리스트에서의 연산

# 리스트 더하기 : 리스트들의 연결된 합으로 나타낸다.
aList = [1,2,3,4,5]
bList = [6,7,8,9,10]

print(aList + bList)


# 리스트 곱하기 : 리스트들을 반복하여 연결된 합으로 나타낸다. 
print(aList * 3)


# 리스트 갯수 구하기
print(len(bList)) # length

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
5

In [ ]:
# 리스트의 수정 mutable

aList = [1,2,3,4,5]
aList[2] = 0  # a리스트의 2번째를 0으로 수정한다.
print(aList)


# 리스트의 삭제

del aList[2]  # a리스트의 2번째를 삭제하라.
print(aList)

[1, 2, 0, 4, 5]
[1, 2, 4, 5]

In [ ]:
# 리스트에서 많이 사용되는 함수들

# append : 리스트의 맨 뒤에 새 요소를 추가하는 기능
aList = [1,2,3,4,5]
aList.append(6)  # a리스트 .(를)
print(aList)


# sort : 리스트에서 요소들을 정렬하는 기능
bList = [2,4,3,5,1]
bList.sort()  # print와 함께는 못써진당
print(bList)


# reverse : 리스트에서 요소들을 그대로 뒤집는 기능
cList = [1,2,3]
cList.reverse()
print(cList)
print("원래 리스트를 역순으로 출력한 결과는 ",cList, "입니다. ")


# index : 리스트에서 특정 값의 위치를 반환하는(알려주는) 기능
dList = [1,2,3,4,5]
print(dList.index(2)) #2는 1번째
print("숫자 2의 인덱스 값은 ",dList.index(2), "입니다. ")  # 쉼표를 이용해 문자와 함께 쓸 수 있다.


# insert : 리스트의 특정 위치에 요소를 추가하는 함수
eList = [1,2,3,4,5]
eList.insert(0,8)  #(특정 위치의 인덱스,넣을 값)
print(eList)


# remove : 리스트에서 특정 요소를 삭제하는 기능
fList = [1,2,3,4,5,3]
fList.remove(3)  #f리스트에서 3이라는 요소를 삭제해라. 같은 값이 여러개일 경우 가장 맨 처음 것을 삭제함.
print(fList)
#del과의 차이: del은 n번째 것을 삭제해라. remove는 n이란 요소를 삭제해라.


# pop : 리스트에서 마지막 요소를 제거하는 용도로 주로 쓰이지만, 특정 위치로도 삭제
gList = [1,2,3,4,5]

gList.pop()
gList.pop()
print(gList)

gList.pop(0)
gList.pop(0)  # 0번째 2번 제거
print(gList)


# count : 리스트에서 특정 요소의 개수 세기 기능
jList = [1,2,3,1]

jList.count(1)


# extend : 리스트의 확장(리스트와 리스트를 붙여서 하나의 리스트로 만들기)

a = [1,2,3]

a.extend([4,5])
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[3, 2, 1]
원래 리스트를 역순으로 출력한 결과는  [3, 2, 1] 입니다.
1
숫자 2의 인덱스 값은  1 입니다.
[8, 1, 2, 3, 4, 5]
[1, 2, 4, 5, 3]
[1, 2, 3]
[3]
[1, 2, 3, 4, 5]

In [ ]:
# Quiz 1. 오늘자 영화 순위 1,2,3위 리스트를 만드시오

MovieList = ["자백","리멤버","블랙아담","공조2:인터네셔날"]

print(MovieList[0:3])

['자백', '리멤버', '블랙아담']

#2.   Tuple  (   )
특징
- immutable 수정 불가능
- indexing, slicing 가능
- 요소를 하나만 저장할때도 쉼표를 붙임

리스트와 거의 동일하지만 immutable. 4가지 자료형 중 유일하게 immutable. 즉, 한번 생성하면 수정도 삭제도 불가능하다.

In [ ]:
# () 소괄호로 만든다.

tuple1 = ()  # 빈 튜플
tuple2 = (1,)  # 튜플은 원소 하나짜리로 만들 때 쉼표(,)를 넣는다.
tuple3 = (1,2,3)
tuple4 = 1,2,3  # 튜플은 괄호 생략이 가능하다.
tuple5 = (1,2,3,(4,5,6))  # 튜플 안에 튜플을 포함할 수 있다.

In [ ]:
# immutable 속성

tuple1 = (1,2,3,4)
# del tuple1[0] : 삭제 불가능

# tuple1[0] = 0 : 변경 불가능

# append도 불가능

In [ ]:
# indexing 가능
tuple1 = [1,2,3,4,5]

tuple1[-1]  # -1은 리스트와 튜플에서 마지막 인덱스 번호이다. 따라서 5를 index

5

In [ ]:
# slicing 가능
tu1 = (1,2,3,4,5)  

tu1[0:3]  # 0부터 3'미만' 숫자를 추출

(1, 2, 3)

In [ ]:
# 튜플의 요소 갯수
tu1 = [1,2,3,4,5]

print(len(tu1))

5

#3. Dict { }

- mutable 수정 가능
- indexing, slicing **불가능**
- 키값-밸류값 쌍으로 구성됨: Set과의 구분 방법

*데이터 분석에서 많이 쓰임. 파이썬에서 2번째로 많이 쓰임.

In [ ]:
# dictionary 사전처럼 키값:밸류값 쌍으로 데이터가 저장되는 자료형
# mutable
# indexing, slicing 불가능 -> '순서'가 없다! => 키값으로 밸류값을 꺼낸다.

aDict = {5:'a',3:'b',2:'c'}  # 키값:'밸류값'

print(aDict[5])  # 키값 5에 해당하는 밸류값을 꺼내라

print(aDict)


# mutable
aDict[9] = 'd'  # '순서'가 없으니 그냥 추가 가능
print(aDict)


del aDict[3]  
print(aDict)  # 키와 밸류가 한번에 삭제됨


# aDict[0]  # 인덱싱과 슬라이싱이 불가능하다. 순서가 없으니까.

a
{5: 'a', 3: 'b', 2: 'c'}
{5: 'a', 3: 'b', 2: 'c', 9: 'd'}
{5: 'a', 2: 'c', 9: 'd'}

In [ ]:
# keys : Dict에서 키값만 추출하는 기능
aDict = {5:'a',3:'b',2:'c'}

print(aDict.keys())


# values : Dict에서 밸류값만 추출하는 기능
print(aDict.values())  


# items : Dict에서 쌍으로 추출하는 기능
print(aDict.items())

# 리스트, 튜플로 추출을 해준다. (???)


# in : Dict에 해당 키값이 존재하는지 확인하는 기능
5 in aDict

dict_keys([5, 3, 2])
dict_values(['a', 'b', 'c'])
dict_items([(5, 'a'), (3, 'b'), (2, 'c')])

True

# 4. Set { }

- mutable 수정 가능
- indexing, slicing 불가능
- 중복 값을 허용하지 않음

In [ ]:
# 중복 허용X
# mutable
# 순서가 없음 -> indexing, slicing 불가능

s1 = {1,2,3,4,1,2,}

print(s1)  # 중복을 허용하지 않아서, 중복된 걸 삭제해 알려주기 때문에 에러가 나지 않는다.


# s1이 무슨 자료형인지 확인하는 함수
print(type(s1))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
# Boolean : 오직 T와 F만 존재, 반드시 대문자 (p.105)

In [ ]:
# 숙제용 문법

a = "Hi"
print(a)

Hi

In [ ]:
#사용자로부터 입력을 받아서 변수로 들어가는 방법
a = input("출력할 내용을 입력하세요.")
print("입력하신 내용은 ",a, "입니다.")

출력할 내용을 입력하세요.방가워용
입력하신 내용은  방가워용 입니다.